{% extends 'base.html' %}
<!--  -->
{% block content %} {% macro with_errors(field) %}
<!--  -->
{% if field.errors %}
<!--  -->
{% set css_class = 'form-control form-control-lg is-invalid ' +
kwargs.pop('class', '') %}
<!--  -->
{{ field(class=css_class, **kwargs) }}
<div class="invalid-feedback">
  {% for error in field.errors %}
  <small>{{ error|e }}</small>
  {% endfor %}
</div>

{% else %} {{ field(**kwargs) }} {% endif %} {% endmacro %}
<div class="container content-section">
  <div class="row media">
    <div class="col-3 media">
      <img class="rounded-circle account-img" src="{{ profile_img }}" />

      <div class="media-body">
        <h4 class="account-heading">{{ current_user.username }}</h4>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <div class="col-9 align-self-start">
      <h1>Bio</h1>
      <p>
        This is bio. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Quisquam sit odit iure delectus, similique impedit at dolore nesciunt
        voluptas nulla!
      </p>
    </div>
  </div>
  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Account Info</legend>

      <div class="form-group mt-4">
        {{ form.username.label(class="form-control-label") }}
        {{with_errors(form.username, class="form-control form-control-lg",
        value=current_user.username) }}
      </div>
      <div class="form-group mt-4">
        {{ form.email.label(class="form-control-label") }}
        {{with_errors(form.email, class="form-control form-control-lg",
        value=current_user.email) }}
      </div>
      <div class="form-group mt-4">
        {{ form.image_file.label() }} 
        {{with_errors(form.image_file,
        class="form-control form-control-lg") }}
      </div>
    </fieldset>
    <div class="form-group mt-4">{{ form.update(class="btn btn-info") }}</div>
  </form>
</div>
{% endblock content %}
